<div class="container">
    <section class="intro">
      <h1 class="title">Hi, I'm</h1>
      <h1 class="name"> <strong>Selim Begag</strong></h1>
      <p class="section__subtitle--intro">Front-end developer</p>
      <div class="photodiv">
       <%= image_tag 'photo.jpeg', :class => "img" %>
      </div>
    </section>
    <section class="skills">
      <h1>Skills</h1>
    </section>
          <div class="skillswrapper">
       <div>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
       </div>
       <div>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" />
       </div>
       <div>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
       </div>
       <div>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-original-wordmark.svg" />
       </div>
       <div>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original-wordmark.svg" />
       </div>
       <div>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg" />
       </div>
       <div>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original-wordmark.svg" />
       </div>
       <div>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-plain-wordmark.svg" />
       </div>
       <div>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original-wordmark.svg" />
       </div>
      </div>
</div>
