<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col">
      <h1>Hi, I'm</h1>
      <h1>Selim Begag</h1>
      <h1>Front-end developer</h1>
    </div>
  </div>
  <div></div>
</div>
